<ion-view title="{{'ABOUT_US'|translate}}">
  <ion-content has-header="true" class=" padding">
    <h2 translate='BRAND'></h2>

    <div class="list card">
      <div class="item transparent-bg" translate='APP_VERSION' translate-values="{appVersion: appVersion}">
      </div>
      <div class="item transparent-bg" translate='BUILD_VERION' translate-values="{appBuild: appBuild}">
      </div>
      <div class="item transparent-bg" translate='COPYRIGHT'>
      </div>
      <div class="item transparent-bg">
        <div ng-if="!isAndroid" translate="SUPPORT_IOS"></div>
        <div ng-if="isAndroid" translate="SUPPORT_ANDROID"></div>
      </div>
    </div>
    <h6 translate="FEE_PROMPT"></h6>
  </ion-content>
</ion-view>
