<ion-view cache-view="false" title="个人信息" ng-init="init()">
  <ion-content has-header="true" class="scroll-bg padding" scroll="false">
    <div class="list card">

      <div class="item item-avatar-right item-icon-right">
        <img src="img/user-icon.png">
        <br>头像
      </div>
      <a class="item item-icon-right" ng-click="changeName()">
        真实姓名
        <span class="item-note">{{entity.name}}</span>
        <i class="icon ion-ios7-compose-outline"></i>
      </a>
      <a class="item">
        联系电话
        <span class="item-note">{{entity.phone}}</span>
      </a>
      
    </div>

    <div class="list card">
      <a class="item item-icon-right" href="#/provinces">
        地区
        <span class="item-note">{{entity.region.province}} {{entity.region.city}}</span>
        <i class="icon ion-ios7-arrow-forward"></i>
      </a>
    </div>
    <div class="list card">
      <a class="item item-icon-right" ui-sref="register({reset:1})">
        修改密码
        <i class="icon ion-ios7-arrow-forward"></i>
      </a>
    </div>

    <a ng-click="logout()" class="button button-block button-large button-assertive icon ion-log-out">
      退出
    </a>

  </ion-content>
</ion-view>
