<ion-view title="{{'MYBIKE'|translate}}" cache-view="false">

  <ion-content class="padding" scroll="true">

    <div class="list card">
      <label class="item item-input">
        <span class="input-label">{{'BIKE_NAME'|translate}}</span>
        <input type="text" ng-model="registerBike.name">
      </label>
      <label class="item item-input">
        <span class="input-label">{{'BIKE_BRAND'|translate}}</span>
        <input type="text" ng-model="registerBike.brand.name">
      </label>
      <label class="item item-input">
        <span class="input-label">{{'BIKE_MODEL'|translate}}</span>
        <input type="text" ng-model="registerBike.model">
      </label>
    </div>

    <div class="list card">
      <div class="item item-icon-right" ui-sref='register-voltage()'>
        {{'BATTERY_VOLTAGE'|translate}}
        <span class="item-note">{{registerBike.voltage|| 0}} V</span>
        <i class="icon ion-ios-arrow-right"></i>
      </div>
      <div class="item item-icon-right" ui-sref='register-current()'>
        {{'BATTERY_CURRENT'|translate}}
        <span class="item-note">{{registerBike.current|| 0}} AH</span>
        <i class="icon ion-ios-arrow-right"></i>
      </div>
    </div>

    <div class="list card">
      <div class="item item-icon-right" ui-sref='register-wheeldiameter()'>
        {{'WHEEL_DIAMETER'|translate}}
        <span class="item-note">{{registerBike.wheeldiameter|| 0}} {{'INCH'|translate}}</span>
        <i class="icon ion-ios-arrow-right"></i>
      </div>
    </div>

    <a ng-click="register()" class="button button-block button-large button-balanced" ng-if="registering">
      {{'COMPLETE'|translate}}
    </a>
  </ion-content>
</ion-view>
