<ion-view title="{{'MYBIKE'|translate}}" cache-view="false">

  <ion-content class="padding">

    <div class="list">
      <label class="item item-input">
        <span class="input-label">{{'BIKE_NAME'|translate}}</span>
        <input type="text" ng-model="currentBike.name">
      </label>
      <label class="item item-input">
        <span class="input-label">{{'BIKE_BRAND'|translate}}</span>
        <input type="text" ng-model="currentBike.brand.name">
      </label>
      <label class="item item-input">
        <span class="input-label">{{'BIKE_MODEL'|translate}}</span>
        <input type="text" ng-model="currentBike.model">
      </label>
    </div>

    <!-- <div class="list">
      <ion-toggle ng-model="currentBike.safe" ng-checked="currentBike.safe">
        {{'SAFE_MODE'|translate}}
      </ion-toggle>
      <ion-toggle ng-model="currentBike.antiTheft" ng-checked="currentBike.antiTheft">
        {{'ANTITHEFT_MODE'|translate}}
      </ion-toggle>
    </div> -->

    <div class="list">
      <div class="item item-icon-right" ui-sref='tab.voltages({id:currentBike.id})'>
        {{'BATTERY_VOLTAGE'|translate}}
        <span class="item-note">{{currentBike.voltage|| 0}} V</span>
        <i class="icon ion-ios-arrow-right"></i>
      </div>
      <div class="item item-icon-right" ui-sref='tab.currents({id:currentBike.id})'>
        {{'BATTERY_CURRENT'|translate}}
        <span class="item-note">{{currentBike.current|| 0}} AH</span>
        <i class="icon ion-ios-arrow-right"></i>
      </div>
    </div>

    <div class="list">
      <div class="item item-icon-right" ui-sref='tab.wheeldiameters()'>
        {{'WHEEL_DIAMETER'|translate}}
        <span class="item-note">{{currentBike.wheeldiameter|| 0}} 寸</span>
        <i class="icon ion-ios-arrow-right"></i>
      </div>
    </div>

    <a ng-click="save()" class="button button-block button-large button-positive">
      {{'COMPLETE'|translate}}
    </a>

  </ion-content>
</ion-view>
