<ion-view title="绑定车辆">
  <ion-nav-buttons side="right">
    <a class="button" ng-click="goHome()">主页</a>
  </ion-nav-buttons>
  <ion-content has-header="true" class="scroll-bg padding" delegate-handle="mainScroll">
    <ion-refresher pulling-text="下拉搜索周边车辆" refreshing-text="正在搜索周边车辆" on-refresh="doScan()"></ion-refresher>

    <div class="list">
      <div class="item text-center" ng-if="!online">
        体验账号不能绑定车辆
      </div>
      <div ng-repeat="item in entities" ng-click="selectEntity(item)" class="item">
        {{ item.name }}
        <h4> {{item.id}} </h4>
      </div>
      
    </div>

  </ion-content>
</ion-view>

<script id="pair-Popup.html" type="text/ng-template">
  <div class="list">
    <div class="item item-input">
      <input type="password" ng-model="bike.password" placeholder="请输入现在的密码" ng-class="{'energized': bike.password.length !== 6}">
    </div>
    <div class="item item-divider" ng-show="bike.password.length !== 6">密码必须是6位数字</div>
    <div class="item item-input">
      <input type="password" ng-model="bike.newpassword" placeholder="请输入新密码" required>
    </div>
    <div class="item item-divider" ng-show="bike.newpassword.length !== 6">新密码必须是6位数字</div>
    <div class="item item-input">
      <input type="password" ng-model="bike.newpassword2" placeholder="请再输入一次新密码" required>    
    </div>
    <div class="item item-divider" ng-show="bike.newpassword !== bike.newpassword2 ">两遍密码不一致</div>
  </div>
</script>
