<ion-view title="{{'BIND_BIKE'|translate}}">
  <ion-nav-buttons side="right">
    <a class="button" ng-click="goHome()">{{'HOME'|translate}}</a>
  </ion-nav-buttons>
  <ion-content class="padding" delegate-handle="mainScroll">
    <ion-refresher pulling-text="{{'PULL_REFRESH_BIKES'|translate}}" refreshing-text="{{'REFRESHING_BIKES'|translate}}" on-refresh="doScan()"></ion-refresher>

    <div class="list">
      <div class="item text-center" ng-if="!online">
        {{'TRIAL_UNABLE_TO_BIND'|translate}}
      </div>
      <div ng-repeat="item in entities" ng-click="selectEntity(item)" class="item">
        {{ item.name }}
        <h4> {{item.id}} </h4>
      </div>

    </div>

  </ion-content>
  <script id="pair-Popup.html" type="text/ng-template">
    <form name="pairForm" novalidate>
      <div class="list">
        <div class="item item-input item-stacked-label">
          <input name="password" type="tel" ng-model="bike.password" placeholder="{{'INPUT_PASSWORD'| translate}}" ng-minlength="6" ng-maxlength="6" required autofocus>
          <span class="assertive input-label" ng-show="pairForm.password.$invalid && !pairForm.password.$pristine">
            {{'PASSWORD_SHOULD_BE_6_NUMBER'| translate}}
          </span>
        </div>
        <div class="item item-input item-stacked-label">
          <input name="newpassword" type="tel" ng-model="bike.newpassword" placeholder="{{'INPUT_NEW_PASSWORD'| translate}}" ng-minlength="6" ng-maxlength="6" required>
          <span class="assertive input-label" ng-show="pairForm.newpassword.$invalid && !pairForm.newpassword.$pristine">
            {{'PASSWORD_SHOULD_BE_6_NUMBER'| translate}}
          </span>
        </div>
        <div class="item item-input item-stacked-label">
          <input type="tel" ng-model="bike.newpassword2" placeholder="{{'INPUT_PASSWORD_AGAIN'| translate}}" required>
          <span class="assertive input-label" ng-show="bike.newpassword !== bike.newpassword2 && !pairForm.newpassword2.$pristine">
            {{'INPUT_PASSWORD_DIFFERENT'|translate}}
          </span>
        </div>
      </div>
    </form>
  </script>
</ion-view>
