<ion-view title="{{'BIND_BIKE'|translate}}">
  <ion-nav-buttons side="right">
    <a class="button" ng-click="goHome()">{{'HOME'|translate}}</a>
  </ion-nav-buttons>
  <ion-content class="padding" delegate-handle="mainScroll" overflow-scroll="false">
    <ion-refresher pulling-text="{{'PULL_REFRESH_BIKES'|translate}}" refreshing-text="{{'REFRESHING_BIKES'|translate}}" on-refresh="doScan()"></ion-refresher>

    <div class="list">
      <div class="item text-center" ng-if="!online">
        {{'TRIAL_UNABLE_TO_BIND'|translate}}
      </div>
      <div ng-repeat="item in entities" ng-click="selectEntity(item)" class="item">
        {{ item.name }}
        <h4> {{item.id}} </h4>
      </div>

    </div>

  </ion-content>
</ion-view>
