<ion-view title="我的车辆" cache-view="false">

  <ion-content class="padding">
    
    <div class="list">
      <div class="item">
        车辆名称： {{currentBike.name || '未命名'}}
      </div>
      <div class="item">
        品牌型号：
        {{currentBike.brand.name}} | {{currentBike.model}}
      </div>
    </div>
    
    <div class="list">
      <ion-toggle ng-model="currentBike.safe" ng-checked="currentBike.safe">
       安全模式 
      </ion-toggle>
      <ion-toggle ng-model="currentBike.antiTheft" ng-checked="currentBike.antiTheft">
       防盗模式
      </ion-toggle>
    </div>

    <div class="list">
      <div class="item item-icon-right" ui-sref='tab.voltages({id:currentBike.id})'>
        电池电压
        <span class="item-note">{{currentBike.voltage|| 0}} V</span>
        <i class="icon ion-ios-arrow-right"></i>
      </div>
      <div class="item item-icon-right" ui-sref='tab.currents({id:currentBike.id})'>
        电池容量
        <span class="item-note">{{currentBike.current|| 0}} AH</span>
        <i class="icon ion-ios-arrow-right"></i>
      </div>
    </div>

    <div class="list">
      <div class="item item-icon-right" ui-sref='tab.wheeldiameters()'>
        车轮直径
        <span class="item-note">{{currentBike.wheeldiameter|| 0}} 寸</span>
        <i class="icon ion-ios-arrow-right"></i>
      </div>
    </div>
    
    <a ui-sref="brands()" class="button button-block button-large button-positive" ng-if="!registering">
      更换车辆
    </a>
    
  </ion-content>
</ion-view>
