<ion-view hide-back-button="true" has-header="false" hide-nav-bar="true" ng-init="init()">
  <ion-content ng-if="promptRotate" class="cruise-rotate-bg"></ion-content>
  <ion-content ng-if="!promptRotate" class="cruise-bg" scroll="false">
    <div class="row padding cruise">
      <div class="col col-25">
        <div class="power-cycle power-cycle-{{device.realtime.power}}">
          <div class="overlay" ng-if="device.bike.workmode != 9">
            <h3>{{device.realtime.power||100}}<small>%</small></h3>
            <label><small>{{'BATTERY_LEVEL'|translate}}</small></label>
          </div>
          <a class="overlay powerless" ng-if="device.bike.workmode !=9 && device.realtime.power <= 0" ng-click="device.setWorkmode(9)">
            <h4>{{'EANBLE'|translate}}<br>{{'POWERLESS_ENDURE'| translate}}</h4>
          </a>
          <div class="overlay" ng-if="device.bike.workmode == 9">
            <h4 class="assertive"><br>{{'POWERLESS_ENDURE'| translate}}</h4>
          </div>
        </div>
      </div>
      <div class="col col-50">
        <!-- <h2 class="text-center light"><small>{{'REMAIN'|translate}}</small> {{device.realtime.mileage}} <small>{{'RANGE_OF_KM'| translate}}</small></h2> -->
        <div>
          <span class="assertive" ng-show="device.realtime.power <= 0 && device.bike.workmode != 9">{{'LOW_POWER_TIPS'|translate}}</span>
          <span class="assertive" ng-show="device.bike.workmode == 9">{{'POWERLESS_ENDURE_TIPS'|translate}}</span>
          <span class="assertive" ng-show="reminder.overload">{{'OVERLOAD_PROMPT'| translate}}</span>
          <span class="assertive" ng-show="reminder.temperature">{{'TEMPERATURE_PROMPT'| translate}}</span>
        </div>
      </div>
      <div class="col col-25">
        <div class="round-button round-button-lg">
          <div class="round-button-circle lg-2x">
            <a class="button light" ng-click="switchWorkmode()" ng-class="{'disabled': device.bike.workmode == 9}">
              <h3 ng-if="device.bike.workmode == 1" translate='SAVE_POWER'></h3>
              <h3 ng-if="!device||device.bike.workmode == 0" translate='NORMAL'></h3>
              <h3 ng-if="device.bike.workmode == 2" translate='CLIMB'></h3>
              <h3 ng-if="device.bike.workmode == 9" translate='POWERLESS'></h3>
              <h3 ng-if="device.bike.workmode == 15" translate='SPEED'></h3>
              <h4>{{'MODE'|translate}}</h4>
            </a>
          </div>

        </div>
      </div>
    </div>

    <div class="speed-gauge">
      <div class="speed-gauge-pointer speed-gauge-{{device.realtime.speed}}"></div>
      <div class="speed-gauge-digital">
        <h1> {{device.realtime.speed}}<small>km/h</small></h1>
      </div>
    </div>

  </ion-content>
</ion-view>
