<ion-view title="{{'GUIDE'|translate}}">
	<ion-content padding="true">
    <h4>A.Suitable type requirements</h4>
    <ol class="padding-left">
      <li>a.Android system to be 4.3 or higher;</li>
      <li>b.IOS system to be 6.0 or higher(at least for Iphone 4s);</li>
      <li>c.Bluetooth version of the phone to be 4.0 or higher.</li>
    </ol>
    <h4>B.What to do if the Bluetooth signal cannot be searched out?</h4>
    <ol class="padding-left">
      <li>a.Make sure Bluetooth is turned on;</li>
      <li>b.Make sure that the vehicle brand has been selected and that the parameters of the vehicle have been selected</li>
      <li>c.Make sure the vehicle is not connected.</li>
    </ol>
    <h4>C.Unique identification</h4>
    <ol class="padding-left">
      <li>a.Unique identification is a necessary process for the connection between APP and the vehicle;</li>
      <li>b.Click the "BX - *****" Bluetooth signal, enter the authorization page, press the“eMaster”key and “lock” key on the remote at the same time to complete the identification.</li>
    </ol>
    <h4>D.Custom function on the remote</h4>
    <ol class="padding-left">
      <li>a.The function of setting the "eMaster" key is required when the vehicle connection is successful;</li>
      <li>b.Only one of the driving modes can be selected for the basic mode of "eMaster" key.</li>
    </ol>
    <h4>E.Using the "eMaster" key on the remote</h4>
    <ol class="padding-left">
      <li>a.The default custom function is "Over-speed" mode, it could be changed according to your need;</li>
      <li>b.Before using, keep the vehicle speed at "zero" state;</li>
      <li>c.Restart the ignition lock after each time using,then it will enter“normal riding”mode.</li>
    </ol>
    <h4>F.Switching between driving modes</h4>
    <ol class="padding-left">
      <li>If you want to switch to another travel mode while the current travel mode is in the "smart parking" or "intelligent pushing" mode, please exit the current travel mode according to the prompt first.</li>
    </ol>
    <h4>G.Safety Mode</h4>
    <ol class="padding-left">
      <li>In the process of riding, turning the throttle, but the speed cannot be improved, you may enter the “speed limit”state, please turn the "safety mode" button off (slip to the left).</li>
    </ol>
    <h4>H.Why can not display horizontal screen after rotating mobile phone?</h4>
    <ol class="padding-left">
      <li>Horizontal screen display function could be used when your phone is in rotating-screen mode only,make sure that the phone screen is unlocked.</li>
    </ol>
  </ion-content>
</ion-view>
