<ion-view cache-view="false" has-header="false" hide-nav-bar="true">
  <ion-slide-box>
    <ion-slide>
      <div class="box"><img src="img/slide0.png"></div>
    </ion-slide>
    <ion-slide>
      <div class="box"><img src="img/slide1.png"></div>
    </ion-slide>
    <ion-slide>
      <div class="box"><img src="img/slide2.png"></div>
    </ion-slide>
    <ion-slide>
      <div class="box"><img src="img/slide3.png"></div>
    </ion-slide>
    <ion-slide>
      <a class="box" ng-click="$ionicGoBack()"><img src="img/slide4.png"></a>
    </ion-slide>
  </ion-slide-box>
</ion-view>