<ion-view cache-view="false" has-header="false" hide-nav-bar="true">
  <ion-slide-box>
    <ion-slide>
      <div class="box"><img src="img/slide0.png"></div>
    </ion-slide>
    <ion-slide>
      <div class="box"><img src="img/slide1.png"></div>
    </ion-slide>
    <ion-slide>
      <div class="box"><img src="img/slide2.png"></div>
    </ion-slide>
    <ion-slide>
      <div class="box"><img src="img/slide3.png"></div>
    </ion-slide>
    <ion-slide>
      <div class="box"><img src="img/slide4.png"></div>
    </ion-slide>
    <ion-slide>
      <div class="box"><img src="img/slide5.png"></div>
    </ion-slide>
    <ion-slide>
      <div class="box">
        <div class="button-starter">
          <button class="button button-block button-large button-calm" ng-click="$ionicGoBack()">
            开始体验
          </button>
        </div>
        <img src="img/slide6.png">
      </div>
    </ion-slide>
  </ion-slide-box>
</ion-view>