<ion-view title="帮大师" hide-back-button="true" ng-init="init()">
  <ion-nav-buttons side="left">
    <a class="button button-icon icon ion-navicon" nav-direction="back" ui-sref="menu()"></a>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a class="button" ng-click="endure()" ng-class="{'disabled':device.realtime.power > 0}" ng-if="device.workmode != 9">无电续航</a>
  </ion-nav-buttons>
  
  <ion-content class="scroll-bg" scroll="false">
    <div class="row row-responsive-sm">
      <div class="col col-25 round-button">
        <div class="round-button-circle round-volume-{{device.task.score}}">
          <a href="#/test" class="round-button">
            <h3>{{device.task.score}}<small>分</small></h3>
            检测
          </a>
        </div>
      </div>
      <div class="col col-50"></div>
      <div class="col col-25">
        <a class="button button-clear padding" ng-click="reconnectDevice()">
          <i class="ion-bluetooth bluetooth" ng-class="device.connected ? 'energized' : 'light'"></i>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col col-80 col-offset-10">
        <div class="power-cycle power-cycle-{{device.realtime.power}}">
          <div class="overlay" ng-show="device.workmode != 9">
            <h1>{{device.realtime.power}}<small>%</small></h1>
            <label>剩余电量</label>
          </div>
          <div class="overlay" ng-show="device.workmode == 9">
            <h3 class="assertive">无电续航模式</h3>
            <label>此功能仅限本次使用，请尽快充电！</label>
          </div>
        </div>
        
      </div>
    </div>
    <div class="workstate">
      
      <div class="row col test-bar-1">
        <h1 class="text-center"><small>剩余</small> {{device.realtime.mileage}} <small>续航公里</small></h1>
      </div>
      
      <div class="row">
        <a class="col-33 button" ng-class="{active: device.bike.workmode%8 == 1, 'disabled': device.bike.workmode == 9}" ng-click="device.setWorkmode(1)">
          <img src="img/downhill.png">省电
        </a>
        <a class="col-33 button" ng-class="{active: device.bike.workmode == 0, 'disabled': device.bike.workmode == 9}" ng-click="device.setWorkmode(0)">
          <img src="img/normal.png">正常
        </a>
        <a class="col-33 button" ng-class="{active: device.bike.workmode == 2, 'disabled': device.bike.workmode == 9}" ng-click="device.setWorkmode(2)">
          <img src="img/uphill.png">爬坡
        </a>
      </div>
      
    </div>
  </ion-content>
  
</ion-view>