<ion-view title="易帮客" hide-back-button="true" ng-init="init()">
  <ion-nav-buttons side="left">
    <a class="button button-icon icon ion-navicon" href="#/menu"></a>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a class="button" ng-click="batteryDieEndure()">无电续航</a>
  </ion-nav-buttons>
  
  <ion-content class="scroll-bg">
    <div class="row row-responsive-sm">
      <div class="col col-25 round-button">
        <div class="round-button-circle round-volume-{{task.score}}">
          <a href="#/test" class="round-button">
            <h3>{{task.score}}<small>分</small></h3>
            检测
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="progress-radial progress-radial-lg progress-radial-{{bike.realtime.power}}">
        <div class="overlay">
          <h1>{{bike.realtime.power}}<small>%</small></h1>
          <label>剩余电量</label>
        </div>
      </div>
    </div>
    <div class="row col padding">
      <h1 class="text-center"><small>剩余</small> {{bike.realtime.mileage}} <small>续航公里</small></h1>
    </div>
    <div class="state">
      <div class="row">
        <a class="col-33 button-large" ng-class="{active: bike.workmode == 1}" ng-click="bike.setWorkmode(1)">
          <img src="img/downhill.png">省电
        </a>
        <a class="col-33 button-large" ng-class="{active: bike.workmode == 0}" ng-click="bike.setWorkmode(0)">
          <img src="img/normal.png">正常
        </a>
        <a class="col-33 button-large" ng-class="{active: bike.workmode == 2}" ng-click="bike.setWorkmode(2)">
          <img src="img/uphill.png">爬坡
        </a>
      </div>
      
    </div>
  </ion-content>
  
</ion-view>