<ion-view cache-view="false" hide-back-button="true" has-header="false" hide-nav-bar="true" ng-init="init()">
  <ion-content class="scroll-bg padding" scroll="false">
    <h1 class="padding text-center">帮大师</h1>
    <form class="padding">
      <div class="list">        
        <div class="item item-icon-left">
          <i class="icon ion-iphone"></i>
          <span class="item-input">
            <input type="tel" name="t" placeholder="输入手机号码" ng-model="entity.username" required>
          </span>
        </div>
        <div class="item item-icon-left">
          <i class="icon ion-locked"></i>
          <span class="item-input">
            <input type="password" placeholder="输入密码" ng-model="entity.password" required>
          </span>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col col-50">
        <a class="button button-block button-royal" type="button" ng-click="goRegister()">免费注册</a>
      </div>
      <div class="col col-50">
        <button class="button button-block button-positive" type="button" ng-click="tryLogin()">登录</button>
      </div>
    </div>
        
    <div class="row padding">
      <a class="col col-50" ng-click="goRegister(1)">忘记密码？</a>
      <a class="col col-50 text-right" ng-click="goTrial()">游客登录</a>
    </div>
  </ion-content>
</ion-view>