<ion-view title="{{'REGISTER_MERCHANT'|translate}}">
  <ion-content has-header="true" class="padding">
    <form name="merchantForm" ng-submit="submitForm(merchantForm.$valid)" novalidate>

      <div class="card">
        <label class="item item-input item-stacked-label item-light">
          <span class="input-label">
            {{'MERCHANT_NAME'|translate}}：{{'REQUIRED'|translate}}
          </span>
          <input type="text" placeholder="例如：XXX电动车维修部" ng-model="entity._name" name="name" required>
          <span class="assertive input-label" ng-show="merchantForm.name.$invalid && !merchantForm.name.$pristine">
            {{'MERCHANT_NAME'|translate}}{{'SHOULD_NOT_EMPTY'|translate}}
          </span>
        </label>
      </div>

      <div class="card">
        <div class="item item-divider">{{'CONTACT'|translate}}</div>
        <div class="item" ui-sref="tab.merchant-mark()">
          <div id="container2"></div>
          <a class="button button-block button-royal icon-left ion-location">{{'MARK_ADDRESS_TIPS'|translate}}</a>
        </div>
        <div class="item item-stacked-label item-light">
          <span class="input-label">{{'REGION'|translate}}  {{entity.province}} {{entity.city}} {{entity.district}}</span>
        </div>
        <label class="item item-input item-stacked-label item-light">
          <span class="input-label">{{'ADDRESS'|translate}}：{{'REQUIRED'|translate}}</span>
          <input type="text" placeholder="例如：迎翠路7号" ng-model="entity._address" name="address" required>
          <span class="assertive input-label" ng-show="merchantForm.address.$invalid && !merchantForm.address.$pristine">
            地址不能为空
          </span>
        </label>
        <label class="item item-input item-stacked-label item-light">
          <span class="input-label">{{'LINK_MAN'|translate}}：{{'REQUIRED'|translate}}</span>
          <input type="text" placeholder="例如：李明" ng-model="entity.linkman" name="linkman" required>
          <span class="assertive input-label" ng-show="merchantForm.linkman.$invalid && !merchantForm.telephone.$pristine">
            联系人不能为空
          </span>
        </label>
        <label class="item item-input item-stacked-label item-light">
          <span class="input-label">电话：必填</span>
          <input type="tel" placeholder="请输入手机号码或者区号＋固定电话" ng-model="entity.telephone" name="telephone" required>
          <span class="assertive input-label" ng-show="merchantForm.telephone.$invalid && !merchantForm.telephone.$pristine">
            电话不能为空
          </span>
        </label>
      </div>

      <div class="card">
        <div class="item item-divider">支持</div>
        <ion-toggle ng-model="entity.anybrand" toggle-class="toggle-balance">维修任意品牌</ion-toggle>
        <ion-toggle ng-model="ability.charge" toggle-class="toggle-balance">可充电</ion-toggle>
        <ion-toggle ng-model="ability.onsite" toggle-class="toggle-balance">5公里上门服务</ion-toggle>
      </div>

      <ul class="list">
        <div class="item item-divider">车型</div>

        <li class="item item-checkbox">
          <label class="checkbox">
            <input type="checkbox" ng-model="ability.wheel2">
          </label>
          两轮车
        </li>
        <li class="item item-checkbox">
          <label class="checkbox">
            <input type="checkbox" ng-model="ability.wheel3">
          </label>
          三轮车
        </li>
      </ul>

      <button type="submit" class="button button-block button-positive" ng-disabled="merchantForm.$invalid">提交</button>
    </form>
    <br><br>
  </ion-content>
</ion-view>
