<ion-view title="消息提醒">
  <ion-nav-buttons side="right">
    <a class="button" ng-click="doSetting()">{{rightButtonTitle}}</a>
  </ion-nav-buttons>

  <ion-content has-header="true" class="scroll-bg padding">
    
    <div class="list">
      <div ng-if="!setting" ng-repeat="item in entities" ng-click="goDetail(item)" class="item item-icon-right">
        {{ item.name }} 
        <i class="icon ion-ios7-arrow-right" ng-click="showDetail(item); $event.stopPropagation();"></i>
      </div>
      
      <ion-toggle ng-if="setting" ng-repeat="item in entities" ng-model="item.checked" ng-checked="item.checked">
        {{item.name}}
      </ion-toggle>
    </div>
    
  </ion-content>
</ion-view>
