<form class="list" name="formPassword">
  <label class="item item-input">
    <input type="tel" placeholder="{{'INPUT_BIND_PASSWORD'|translate}}" name="password" ng-model="bike.password" ng-pattern="/\d{6}/" ng-required="true">
  </label>
  <label class="item assertive" ng-hide="formPassword.password.$pristine||formPassword.password.$valid">
    {{'PASSWORD_SHOULD_BE_6_NUMBER'|translate}}
  </label>
  <label class="item item-input">
    <input type="tel" placeholder="{{'INPUT_NEW_PASSWORD'|translate}}" name="newPassword" ng-model="newPassword" ng-pattern="/\d{6}/" ng-required="true" ng-blur="setFormController(formPassword)">
  </label>
  <label class="item assertive" ng-hide="formPassword.newPassword.$pristine||formPassword.newPassword.$valid">
    {{'PASSWORD_SHOULD_BE_6_NUMBER'|translate}}
  </label>
  <label class="item item-input">
    <input type="tel" placeholder="{{'INPUT_PASSWORD_AGAIN'|translate}}" name="newPassword2" ng-model="newPassword2" ng-required="true">
  </label>
  <label class="item assertive" ng-hide="formPassword.newPassword2.$pristine||newPassword2===newPassword">
    {{'INPUT_PASSWORD_DIFFERENT'|translate}}
  </label>
</form>
