<ion-view title="{{title}}" cache-view="false" hide-back-button="false" has-header="true" hide-nav-bar="false">
  <ion-content class="padding" scroll="false">
    <div class="list">
      <div class="item item-icon-left">
        <i class="icon ion-iphone"></i>
        <span class="item-input">
          <input type="tel" name="t" placeholder="{{'INPUT_PHONENUMBER'|translate}}" ng-model="entity.username" required>
        </span>
      </div>
      <div class="item item-icon-left" ng-class="disableValidcode?'validcode-disable-bg':'validcode-bg'">
        <i class="icon ion-ios-checkmark-outline"></i>
        <span class="validcode">
          <input type="tel" placeholder="{{'INPUT_AUTHCODE'|translate}}" ng-model="entity.authcode" required>
          <a class="dark text-center" ng-click="getAuthcode()">{{validprompt || 'GET_AUTH_CODE'|translate}}</a>
        </span>
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-key"></i>
        <span class="item-input">
          <input type="password" placeholder="{{'INPUT_PASSWORD'|translate}}" ng-model="entity.password" required>
        </span>
      </div>
    </div>

    <a ng-if="!isReset" class="button button-block button-positive button-large " type="button" ng-click="tryRegister()">{{'REGISTER'|translate}}</a>
    <a ng-if="isReset" class="button button-block button-positive button-large " type="button" ng-click="tryResetPassword()">{{'RESET_PASSWORD'|translate}}</a>

    <h4 class="text-center padding" ng-if="!isReset">
      <i class="icon ion-ios-checkmark-outline padding"></i>  {{'I_RED_AND_AGREE'|translate}}<a class="positive inline" ui-sref="services()">《{{'SERVICE_LICENSE'|translate}}》</a>
    </h4>
  </ion-content>
</ion-view>
