<ion-view title="注册" cache-view="false" hide-back-button="false" has-header="true" hide-nav-bar="false">
  <ion-content class="padding" scroll="false">
    <div class="list">
      <div class="item item-icon-left">
        <i class="icon ion-iphone"></i>
        <span class="item-input">
          <input type="tel" name="t" placeholder="输入手机号码" ng-model="entity.username" required>
        </span>
      </div>
      <div class="item item-icon-left" ng-class="disableValidcode?'validcode-disable-bg':'validcode-bg'">
        <i class="icon ion-ios7-checkmark-outline"></i>
        <span class="validcode">
          <input type="tel" placeholder="输入验证码" ng-model="entity.authcode" required>
          <a class="button-energized text-center" ng-click="getAuthcode()">{{validprompt}}</a>
        </span>
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-key"></i>
        <span class="item-input">
          <input type="password" placeholder="设置密码" ng-model="entity.password" required>
        </span>
      </div>
    </div>
    
    <a ng-if="!isReset" class="button button-block button-positive button-large " type="button" ng-click="tryRegister()">注册</a>
    <a ng-if="isReset" class="button button-block button-positive button-large " type="button" ng-click="tryResetPassword()">重置密码</a>
    
    <h4 class="text-center padding" ng-if="!isReset">
      <i class="icon ion-ios7-checkmark-outline padding"></i>  我已阅读并同意<a class="positive inline" ui-sref="services()">《服务条款》</a>
    </h4>
  </ion-content>
</ion-view>