<ion-view title="发现" hide-back-button="true" show-tabs>
  <ion-nav-buttons side="right">
    <a class="button button-clear button-positive" ui-sref="tab.merchant-mark">商家入驻</a>
  </ion-nav-buttons>

  <ion-content class="">
    <div id="container"></div>
    <div id="result1"></div>
  </ion-content>

  <script id="merchant-popover.html" type="text/ng-template">
    <div id="info">
      <h3>{{clouddata._name}}</h3><hr>
      <p>地址：{{clouddata._address}}<br>
        电话：{{clouddata.telephone}}</p>
      <div ng-repeat="(key, value) in ability">
        <i class="icon" ng-class="value?'ion-checkmark-circled balanced':'ion-close-circled assertive'"></i> {{key|merchant_ability}}
      </div>
      <div class="padding">
        <a class="button icon-left ion-navigate" ng-click="navigate()">导航</a>
        <a class="button icon-left ion-ios-telephone" href="tel:{{clouddata.telephone}}">电话</a>
      </div>
    </div>
  </script>

</ion-view>
