<ion-view title="{{'BRAND'|translate}}" hide-back-button="true" ng-init="init()"  show-tabs>
  <ion-nav-buttons side="right">
    <a class="button button-clear" ng-click="endure()"
      ng-class="device.realtime.power > 0 || device.status!='connected'?'disabled':'button-positive'"
      ng-if="device.workmode != 9">{{'POWERLESS_ENDURE'|translate}}</a>
  </ion-nav-buttons>

  <ion-content class="" scroll="false">

    <div class="bluetooth-connect text-center" ng-show="device.status!='connected'">
      <i class="icon ion-ebike-close-outline calm" ng-if="device.status!='connecting'"></i>
      <ion-spinner class="spinner-calm" icon="spiral" ng-if="device.status=='connecting'"></ion-spinner>
      <h4 class="light" ng-if="device.status==='connecting'">{{'PERIPHERAL_SCANING'|translate}}</h4>
      <h4 class="light" ng-if="device.status!=='connecting'">{{'PERIPHERAL_NOT_FOUND'|translate}}</h4>
      <button class="button button-calm" ng-click="reconnectDevice()"
        ng-class="device.status!='connecting'?'button-outline':'button-clear'">
        <span ng-if="device.status!='connecting'">{{'RESCAN'|translate}}</span>
      </button>
    </div>

    <div class="row">
      <div class="col col-25 image-button">
        <a class="button button-clear" ng-click="goTest()" pushvibrate>
          <img ng-src="img/test-{{device.status === 'connected'?'light':'gray'}}.png">
        </a>
      </div>
      <div class="col col-50"></div>
      <div class="col col-25">
        <label class="safe-toggle" ng-disabled="device.status !== 'connected'">
           <input type="checkbox" ng-model="currentBike.safe" ng-checked="currentBike.safe" pushvibrate>
           <div class="track">
             <i class="icon ion-alert-circled"></i>
             <div class="handle"></div>
           </div>
           <h6><small>{{'SAFE_MODE'|translate}}</small></h6>
        </label>
      </div>
    </div>
    <div class="row mt-md">
      <div class="col"></div>
      <div class="col col-75">
        <div class="home-power-cycle home-power-cycle-{{device.realtime.power}}">
          <div class="overlay image-button" ng-show="device.workmode != 9">
            <a ng-click="device.antiTheft(!currentBike.antiTheft)" pushvibrate>
              <img ng-src="img/lock-{{!currentBike.antiTheft?'light':'gray'}}.png">
            </a>
          </div>
          <div class="overlay" ng-show="device.workmode == 9">
            <h3 class="assertive">{{'POWERLESS_ENDURE'|translate}}{{'MODE'|translate}}</h3>
            <label>{{'POWERLESS_ENDURE_TIPS'|translate}}</label>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
    <div class="row text-center">
      <div class="col digital-display">
        <h2 class="{{device.status}}"><small>{{'REMAIN'|translate}}</small> {{device.realtime.mileage||0}}<span>km</span></h2>
      </div>
    </div>
    <div class="row text-center">
      <div class="col col-50 col-offset-25">
        <div class="button-bar">
          <a class="button button-left" ng-class="{'active':device.bike.workmode==30}"
           ng-click=setWorkmode(device.bike.workmode==30?31:30) pushvibrate>
           {{'SMART_PARK'|translate}}
          </a>
          <a class="button button-right" ng-class="{'active':device.bike.workmode==46}"
           ng-click=setWorkmode(device.bike.workmode==46?47:46) pushvibrate>
           {{'SMART_PUSH'|translate}}
          </a>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col col-30 image-button image-button-sm col-offset-5">
        <a class="button button-clear button-light" ng-class="{'disabled': device.bike.workmode == 9}"
         ng-click="setWorkmode(1)" pushvibrate>
          <img src="img/powersave-{{device.bike.workmode%8 === 1?'light':'gray'}}.png">
          <h6>{{'SAVE_POWER'|translate}}</h6>
        </a>
      </div>
      <div class="col col-30 image-button image-button-sm">
        <a class="button button-clear button-light" ng-class="{'disabled': device.bike.workmode == 9}"
         ng-click="setWorkmode(2)" pushvibrate>
          <img src="img/climb-{{device.bike.workmode == 2?'light':'gray'}}.png">
          <h6>{{'CLIMB'|translate}}</h6>
        </a>
      </div>
      <div class="col col-30 image-button image-button-sm">
        <a class="button button-clear button-light" ng-class="{'disabled': device.bike.workmode == 9}"
         ng-click="setWorkmode(15)" pushvibrate>
          <img src="img/speed-{{device.bike.workmode == 15?'light':'gray'}}.png">
          <h6>{{'SPEED'|translate}}</h6>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
