<ion-view title="{{'BRAND'|translate}}" hide-back-button="true" ng-init="init()"  show-tabs>
  <ion-nav-buttons side="right">
    <a class="button button-clear" ng-click="endure()"
      ng-class="device.realtime.power > 0?'disabled':'button-positive'"
      ng-if="device.workmode != 9">{{'POWERLESS_ENDURE'|translate}}</a>
  </ion-nav-buttons>

  <ion-content class="" scroll="false">
    <div class="row">
      <div class="col col-25 image-button">
        <a class="button button-clear" ng-click="goTest()">
          <img ng-src="img/test-{{device.status === 'connected'?'light':'gray'}}.png">
        </a>
      </div>
      <div class="col col-20"></div>
      <div class="col col-30 col-center">
        <div class="prompt" ng-if="showPrompt">
          {{'CONNECT'|translate}} <i class="icon ion-arrow-right-a"></i>
        </div>
      </div>
      <div class="col col-25 image-button bluetooth">
        <div class="row-wrap">
          <a class="button button-clear {{device.status}}" ng-click="reconnectDevice()">
            <img ng-src="img/bluetooth-{{!device || !device.status || device.status === 'disconnected'?'gray':'light'}}.png">
          </a>
        </div>
      </div>
    </div>
    <div class="row mt-sm">
      <div class="col"></div>
      <div class="col col-75">
        <div class="home-power-cycle home-power-cycle-{{device.realtime.power}}">
          <div class="overlay image-button" ng-show="device.workmode != 9">
            <a ng-click="currentBike.antiTheft = !currentBike.antiTheft">
              <img ng-src="img/lock-{{!currentBike.antiTheft?'light':'gray'}}.png">
            </a>
          </div>
          <div class="overlay" ng-show="device.workmode == 9">
            <h3 class="assertive">{{'POWERLESS_ENDURE'|translate}}{{'MODE'|translate}}</h3>
            <label>{{'POWERLESS_ENDURE_TIPS'|translate}}</label>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
    <div class="row text-center">
      <div class="col col-50 digital-display">
        <h2 class="{{device.status}}">{{device.realtime.power||0}}<span>% </span><small> {{'BATTERY_LEVEL'|translate}}</small></h2>
        <h2 class="{{device.status}}">{{device.realtime.mileage||0}}<span>km</span><small> {{'RANGE_OF_KM'|translate}}</small></h2>
      </div>
      <div class="col col-50 padding">
        <label class="safe-toggle" ng-disabled="device.status !== 'connected'">
           <input type="checkbox" ng-model="currentBike.safe" ng-checked="currentBike.safe">
           <div class="track">
             <i class="icon ion-alert-circled"></i>
             <div class="handle"></div>
           </div>
        </label>
        <h5>{{'SAFE_MODE'|translate}}</h5>
      </div>
    </div>
    <div class="row text-center">
      <div class="col col-25 image-button col-offset-10">
        <a class="button button-clear" ng-class="{'disabled': device.bike.workmode == 9}" ng-click="device.setWorkmode(1)">
          <img src="img/powersave-{{device.bike.workmode%8 === 1?'light':'gray'}}.png">
          {{'SAVE_POWER'|translate}}
        </a>
      </div>
      <div class="col col-25 image-button">
        <a class="button button-clear" ng-class="{'disabled': device.bike.workmode == 9}" ng-click="device.setWorkmode(2)">
          <img src="img/climb-{{device.bike.workmode == 2?'light':'gray'}}.png">
          {{'CLIMB'|translate}}
        </a>
      </div>
      <div class="col col-25 image-button">
        <a class="button button-clear" ng-class="{'disabled': device.bike.workmode == 9}" ng-click="device.setWorkmode(15)">
          <img src="img/speed-{{device.bike.workmode == 15?'light':'gray'}}.png">
          {{'SPEED'|translate}}
        </a>
      </div>
    </div>
  </ion-content>

</ion-view>
