<ion-view title="{{'ME'|translate}}" hide-back-button="true" cache-view="false" show-tabs>
  <ion-content has-header="true"  scroll="false" padding="false">
    <a class="item item-avatar item-icon-right user-bg">
      <!-- <img src="{{avatar || 'img/user-icon.png'}}">
      <h2>{{currentUser.name || currentUser.username}}</h2>
      <small>
        {{currentUser.created | date : 'yyyy-MM-dd'}} {{'REGISTER'|translate}}
      </small>
      <i class="icon ion-ios-arrow-forward"></i> -->
    </a>
    <div class="menu-grid text-center">
      <div class="row">
        <a class="col button" ui-sref="tab.bike()">
          <img src="img/ebike-icon.png">
          <p>{{'MYBIKE'|translate}}</p>
        </a>
        <a class="col button" ui-sref="tab.bikes-add()">
          <img src="img/bluetooth-icon.png">
          <p>{{'BIND_BIKE'|translate}}</p>
        </a>
        <!-- <a class="col button" ui-sref="tab.messages()">
          <img src="img/message-icon.png">
          <p>{{'REMIND_MESSAGE'|translate}}</p>
        </a> -->
        <a class="col button" ui-sref="tab.custom()">
          <img src="img/custom-icon.png">
          <p>{{'CUSTOM_KEY'|translate}}</p>
        </a>
      </div>
      <div class="row">
        <a class="col button" ui-sref="tab.setting()">
          <img src="img/setting-icon.png">
          <p>{{'SETTING'|translate}}</p>
        </a>
        <!-- <a class="col button" href="#/tab/services">
          <img src="img/list-icon.png">
          <p>{{'SERVICE_LICENSE'|translate}}</p>
        </a> -->
        <a class="col button" ui-sref="tab.guide()">
          <img src="img/help-icon.png">
          <p>{{'HELP_MANUAL'|translate}}</p>
        </a>
        <a class="col button" href="#/tab/about">
          <img src="img/about-icon.png">
          <p>{{'ABOUT_US'|translate}}</p>
        </a>
      </div>
      <!-- <div class="row">
        <a class="col button" href="#/cruise">
          <img src="img/dashboard-icon.png">
          <p>横向仪表</p>
        </a>
        <a class="col button">
        </a>
      </div> -->

    </div>
  </ion-content>

</ion-view>
