<ion-view title="帮大师" hide-back-button="true" ng-init="init()"  show-tabs>
  <ion-nav-buttons side="right">
    <a class="button button-clear" ng-click="endure()" ng-class="device.realtime.power > 0?'disabled':'button-positive'" ng-if="device.workmode != 9">无电续航</a>
  </ion-nav-buttons>
  
  <ion-content class="" scroll="false">
    <div class="row">
      <div class="col col-25 image-button">
        <a class="button button-clear" ng-click="goTest()">
          <img ng-src="img/test-{{device.status === 'connected'?'light':'gray'}}.png">
        </a>
      </div>
      <div class="col col-50">
      </div>
      <div class="col col-25 image-button">
        <a class="button button-clear" ng-click="reconnectDevice()">
          <img ng-src="img/bluetooth-{{device.status === 'connected'?'light':'gray'}}.png">
          <!-- <div class="bluetooth">
            <div class="row">
              <i class="ion-bluetooth" ng-class="device.status === 'connected' ? 'energized' : 'light'"></i>
              <small>
                <i class="ion-connection-bars energized {{device.status}}"></i>
              </small>
            </div>
          </div> -->
        </a>
      </div>
    </div>
    <div class="row mt-sm">
      <div class="col"></div>
      <div class="col col-75">
        <div class="home-power-cycle home-power-cycle-{{device.realtime.power}}">
          <div class="overlay image-button" ng-show="device.workmode != 9">
            <a ng-click="currentBike.antiTheft = !currentBike.antiTheft">
              <img ng-src="img/lock-{{!currentBike.antiTheft?'light':'gray'}}.png">
            </a>
          </div>
          <div class="overlay" ng-show="device.workmode == 9">
            <h3 class="assertive">无电续航模式</h3>
            <label>此功能仅限本次使用，请尽快充电！</label>
          </div>
        </div>        
      </div>
      <div class="col"></div>
    </div>
    <div class="row text-center">
      <div class="col col-50 digital-display">
        <h2 class="{{device.status}}">{{device.realtime.power||0}} <small>% 剩余电量</small></h2>
        <h2 class="{{device.status}}">{{device.realtime.mileage||0}} <small>km 续航估值</small></h2>
      </div>
      <div class="col col-50 padding">
        <label class="safe-toggle" ng-disabled="device.status !== 'connected'">
           <input type="checkbox" ng-model="currentBike.safe" ng-checked="currentBike.safe">
           <div class="track">
             <div class="handle"></div>
           </div>
        </label>
        <h5>安全模式</h5>
      </div>
    </div>
    <div class="row text-center">
      <div class="col col-25 image-button col-offset-10">
        <a class="button button-clear" ng-class="{'disabled': device.bike.workmode == 9}" ng-click="device.setWorkmode(1)">
          <img src="img/powersave-{{device.bike.workmode%8 === 1?'light':'gray'}}.png">
          省电
        </a>
      </div>
      <div class="col col-25 image-button">
        <a class="button button-clear" ng-class="{'disabled': device.bike.workmode == 9}" ng-click="device.setWorkmode(2)">
          <img src="img/climb-{{device.bike.workmode == 2?'light':'gray'}}.png">
          爬坡
        </a>
      </div>
      <div class="col col-25 image-button">
        <a class="button button-clear" ng-class="{'disabled': device.bike.workmode == 9}" ng-click="device.setWorkmode(15)">
          <img src="img/speed-{{device.bike.workmode == 15?'light':'gray'}}.png">
          超速
        </a>
      </div>
    </div>
  </ion-content>
  
</ion-view>