<ion-view title="我" hide-back-button="true" cache-view="false" show-tabs>
  <ion-content has-header="true" class="scroll-bg"  scroll="false">
    <div class="list">
      <a class="item item-avatar item-icon-right user-bg" href="#/tab/account">
        <img src="{{avatar || 'img/user-icon.png'}}">
        <h2>{{currentUser.name || currentUser.username}}</h2>
        <small class="calm">
          {{currentUser.created | date : 'yyyy-MM-dd'}} 加入
        </small>        
        <i class="icon ion-ios7-arrow-forward"></i>
      </a>
    </div>
    <div class="menu-grid text-center">
      <div class="row">
        <a class="col button" ui-sref="tab.bike()">
          <img src="img/ebike-icon.png">
          <p>我的车辆</p>
        </a>
        <a class="col button" ui-sref="tab.bikes-add()">
          <img src="img/bluetooth-icon.png">
          <p>绑定车辆</p>
        </a>
        <a class="col button" ui-sref="tab.messages()">
          <img src="img/message-icon.png">
          <p>消息提醒</p>
        </a>
      </div>
      <div class="row">
        <a class="col button" href="#/tab/services">
          <img src="img/list-icon.png">
          <p>服务条款</p>
        </a>
        <a class="col button" ui-sref="tab.help()">
          <img src="img/help-icon.png">
          <p>使用帮助</p>
        </a>
        <a class="col button" href="#/tab/about">
          <img src="img/about-icon.png">
          <p>关于我们</p>
        </a>
      </div>
      <div class="row">
        <a class="col button" href="#/cruise">
          <img src="img/dashboard-icon.png">
          <p>横向仪表</p>
        </a>
        <a class="col button">
        </a>
        <a class="col button">
        </a>
      </div>
    
    </div>
  </ion-content>
  
</ion-view>

