<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<!-- <ion-tabs class="tabs-icon-top tabs-color-active-positive tabs-stable tabs-item-hide"> -->
<ion-tabs class="tabs-icon-top tabs-color-active-positive tabs-stable" ng-class="{'tabs-item-hide':$rootScope.hideTabs}">

  <!-- Home Tab -->
  <ion-tab title="{{'BRAND'|translate}}" icon-off="ion-ebike" icon-on="ion-ebike" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- Merchants Tab -->
  <ion-tab title="{{'DISCOVER'|translate}}" icon-off="ion-ios-eye-outline"
    icon-on="ion-ios-eye" href="#/tab/merchants" ng-if="!isGlobalVersion">
    <ion-nav-view name="tab-merchants"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="{{'MESSAGE'|translate}}" icon-off="ion-ios-email-outline"
   icon-on="ion-ios-email-outline" href="#/tab/chats" ng-if="!isGlobalVersion">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Menu Tab -->
  <ion-tab title="{{'ME'|translate}}" icon-off="ion-ios-person-outline"
   icon-on="ion-ios-person" href="#/tab/menu" ng-if="true">
    <ion-nav-view name="tab-menu"></ion-nav-view>
  </ion-tab>


</ion-tabs>
