<ion-view title="检测" ng-init="init()">
  <ion-nav-buttons side="right">
    <a class="button" ng-if="task.state == 'fault'" ng-click="task.repair()">一键修复</a>
  </ion-nav-buttons>
  
  <ion-content class="scroll-bg">
    <div class="row col">
      <h5 class="text-center">{{task.prompt}}</h5>
    </div>
    <div class="row">
      
      <div class="col col-80 col-offset-10">
        <div class="container">
          <div class="outer">
            <div class="scan-radial" ng-if="task.state == 'testing'"></div>
            <div class="inner-1"></div>
            <div class="inner-2"></div>
            <div class="inner-3"></div>
            <div class="inner-4"></div>
            <div class="diameter-0"></div>
            <div class="diameter-45"></div>
            <div class="diameter-90"></div>
            <div class="diameter-315"></div>
          </div>
        </div>
      </div>
    </div>
        
    <div class="row test-bar test-bar-{{$index%2}}" ng-repeat="entity in task.items">
      <div class="color-lable"></div>
      <div class="col-20">
        {{entity.name}}
      </div>
      <div class="col-50">
        <progress max="100" value="{{entity.progress}}"></progress>
      </div>
      <div class="col-25">
        <i ng-class="!entity.error || (entity.error && entity.fixed)?'ion-checkmark positive':'ion-alert assertive'" ng-if="task.state != 'testing'  && task.state != 'repairing' "></i>
        {{entity.desc}}</div>      
    </div>
  </ion-content>
  
</ion-view>