<ion-view cache-view="false" title="检测" ng-init="init()">
  <ion-nav-buttons side="right">
    <a class="button" ng-class="{'disabled':task.items[1].state != 'error'}" ng-click="device.repair(task)">一键修复</a>
  </ion-nav-buttons>
  
  <ion-content class="">
    <div class="row col">
      <h3 class="text-center">{{task | testTask: 'state'}}</h3>
    </div>
    <div class="row">
      
      <div class="col col-80 col-offset-10">
        <div class="container">
          <div class="outer">
            <div class="inner-1"><div class="splashdot" ng-class="{'hide':task.state != 'testing'} "></div></div>
            <div class="inner-2"><div class="splashdot" ng-class="{'hide':task.state != 'testing'} "></div></div>
            <div class="inner-3"><div class="splashdot" ng-class="{'hide':task.state != 'testing'} "></div></div>
            <div class="inner-4"><div class="splashdot" ng-class="{'hide':task.state != 'testing'} "></div></div>
            <div class="diameter-0"></div>
            <div class="diameter-45"></div>
            <div class="diameter-90"></div>
            <div class="diameter-315"></div>
            <div class="scan-radial" ng-class="{'hide':task.state != 'testing'} "></div>
            <h1 class="score text-center" ng-show="task.state != 'testing' ">{{task.score}}<small>分</small></h1>
          </div>
        </div>
      </div>
    </div>
        
    <div class="row test-bar test-bar-{{$index%2}}" ng-repeat="entity in task.items">
      <div class="color-lable"></div>
      <div class="col-20">
        {{entity | testItem: 'id' }}
      </div>
      <div class="col-50">
        <div id="progressbar">
          <div ng-style="{'width': entity.progress/100}"></div>
        </div>
        <!-- <progress max="100" value="{{entity.progress}}"></progress> -->
      </div>
      <div class="col-25">
        <i class="ion-checkmark positive" ng-show="entity.state == 'pass' || entity.state == 'repaired'"></i>
        <i class="ion-alert assertive" ng-show="entity.state == 'error' || entity.state == 'broken'"></i>
        {{entity | testItem: 'state' }}
      </div>      
    </div>
  </ion-content>
  
</ion-view>