$authorize-color:            #00ccff !default;
$authorize-bg:                    '../img/authorize-bg.png';

.authorize-bg {
  background: url($authorize-bg) no-repeat center center fixed;
  -webkit-background-size: cover!important;
}

.authorize-bg {
  h4 {
    margin: 10% 15%;
    text-align: center;
  }

  .box {
    display: block;
    width: 50%;
    margin: 100% auto 5% auto;
    padding: 3px 0;
    border: 1.5px solid $authorize-color;
    color: $authorize-color;
  }

  button {
    display: block;
    margin: 0 auto;
    width: 40%;
    background-color: $authorize-color;
    color: #fff;
    border-radius: 2rem;
    font-size: 1.8rem;
  }
}
