<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.extensivepro.ebike" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>ebike</name>
  <description>
    电动车手机管理应用
    </description>
  <author email="gbo@extensivepro.com" href="http://fankahui.com/">
      Extensivepro Team
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="Orientation" value="default" />
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>